.App {
  margin: 5%;
  text-align: center;
}
p{
  margin: 5%;
  text-align: center;
}
button{
  margin: 5%;
  width: 50%;
  border-radius: 0.375em;
  border: 0;
  background-color: rgb(99, 71, 209);
  color: white;
  transform: ease-in-out 0.2s;
}
button:hover{
  background-color: rgb(99, 71, 209, 0.5);
}
.sliders-container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.slider{
  width: 50%;
}
.slider-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
}

