*{
  font-family: Assistant, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.App {
  margin: 2%;
  height: 640px;
  color: rgb(24, 55, 83);
  border: 0;
  box-shadow: 2px 2px 5px 5px #f5f5f5;
  border-radius: 15px;
  text-align: center;
  background-color:rgb(249, 249, 249);
}
.title{
  margin: 0px 0px 20px 0px;
  font-size: 5em;
  font-weight: 900;
  font-family: "Playfair Display";
}
.title img{
  padding: 0px 0px 0px 0px;
}
h2{
  padding: 20px;
}
p{
  margin: 3%;
  font-size: 16px;
  text-align: left;
}
button{
  margin-top: 150px;
  width: 40%;
  border-radius: 0.375em;
  border: 0;
  background-color: rgb(99, 71, 209);
  color: white;
  transform: ease-in-out 0.2s;
}
button:hover{
  background-color: rgb(99, 71, 209, 0.5);
}
.sliders-container{
  margin: 0% 10%;
  padding: 2%;
  border: 1px solid rgb(99, 71, 209);
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 30px;
  border-radius: 8px;
  text-align: center;
  background-color: white;
}
.slider-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.slider-bar p{
  color: gray;
  width: 15%;
}
span{
  color: rgb(99, 71, 209);
  font-size: 20px;
}
.simulation-results{
  display: flex;
  justify-content: space-around;
  margin: 1% 10%;
  padding: 5px;
  border: 1px solid rgb(99, 71, 209);
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 30px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  background-color: rgb(245, 243, 251);
}
.results{
  width: 50%;
  margin: 15px;
  border: 0;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 30px;
}


